<head>
<link href='https://fonts.googleapis.com/css?family=Amaranth' rel='stylesheet'>
<title>OPS!</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
  border-radius: 5px;
  font-family: 'Amaranth';
   background-image: url(file:///C:/Users/Gabriele%20Saitama/eclipse-workspace/LasVegasVillage/WebContent/html/texture.jpg);
}
/* Header/logo Title */
.header {
  padding: 80px;
  text-align: center;
/*  background: #5c2d5b;*/
  color: #dcdcdc;
  font-size: 112%;
  link : white;
  alink : white;
}
/* Increase the font size of the heading */
.header h1 {
  font-size: 52px;
}

</style>
</head>
<body bgcolor=#5c2d5b alink="yellow">

	<div class = header >
    <h2><em>OPS! NON hai compilato bene il form, riprova ;(</em></h2>
    </div>

</body>
